# Node
node_modules
dist
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rust
target/
**/*.rs.bk

# Tauri
src-tauri/target/
src-tauri/gen/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
